<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>

        <div class="cart">Cart_{{cart}}</div>
        
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <h3 v-if="isOnSale" style="color:red;">Now on Sale!</h3>
                    <p v-else></p>
                    <img :src="image" alt="green_sock">
                </div>
                <div class="product-info">
                    <h1>{{products}}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                        <p>size:</p>
                        <li v-for="size in sizes">{{size}}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
                    <button class="button" @click="addToCart">Add to Cart</button>
                    <button class="button" @click="updateStatus(isOnSale)">Update Status</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>